@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(255, 238, 213);
}

.chat-list::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

.chat-list::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #ffcc81;
    border-radius: 10px;
}
